 {% if page.comments %}
 <div id="disqus_thread"></div>
 <script>
 var disqus_config = function () {
 this.page.url ="https://llgy0.github.io/{{page.url}}" // <--- 修改成你的博客地址
 this.page.identifier ="https://llgy0.github.io/{{page.url}}";
 };
 (function() { // DON'T EDIT BELOW THISLINE
 var d = document, s = d.createElemen('script');
 s.src ='https://llgy.disqus.com/embed.js';// <--- 修改成你的 disqus 站点缩写名
 s.setAttribute('data-timestamp', +newDate());
 (d.head || d.body).appendChild(s);
 })();
 </script>
 <noscript>Please enable JavaScript toview the <a href="https://disqus.com/ref_noscript" rel="nofollow">commentspowered by Disqus.</a></noscript>
 {% endif %}